/* frame */
.frame {
  @apply w-full h-full flex flex-col items-center justify-center bg-black/40 z-10 fixed top-0 left-0;
}

/* form */
.form {
  @apply duration-200 w-full md:max-w-lg flex flex-col items-center gap-4 rounded-md p-5 md:p-7;
}

/* input and label */
.input {
  @apply p-2 rounded-sm outline outline-1 text-gray-700;
}
.label {
  @apply flex flex-row items-center gap-2 text-gray-700 font-semibold;
}

/* submit button */
.submitbtn {
  @apply w-full py-2 rounded-sm outline outline-1 outline-black duration-300 text-white;
}

.form:valid .submitbtn:hover {
  @apply bg-green-700;
}

.form:invalid .submitbtn:hover,
.submitbtn:disabled:hover {
  @apply cursor-not-allowed;
}

/* delete popup size */
.popup {
  @apply duration-200 w-full md:max-w-sm flex flex-col items-center gap-4 rounded-md p-5 md:p-7;
}
