.container {
  @apply relative isolate w-full my-4 rounded-md bg-black;
}

.container::before {
  content: "Codepen Preview";
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #7900ff, #28df99);

  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  @apply absolute text-3xl font-bold;
}
