.hamburger {
  @apply flex flex-col gap-1.5;
}

.hamburger div {
  height: 1.5px;
  @apply w-6 bg-gray-700 duration-300 origin-left;
}

.hamburger.active div:first-of-type {
  rotate: 21deg;
}

.hamburger.active div:last-of-type {
  rotate: -21deg;
}
