/* chat part */
.chat {
  @apply flex-1 flex flex-col justify-between gap-4 p-3;
}

/* sendbox */
.sendbox {
  @apply w-full relative;
}

.sendbox textarea {
  @apply w-full rounded-lg outline-none border border-gray-200 py-2.5 px-4 h-12 resize-none shadow-lg;
}

.sendbox textarea:focus {
  @apply border-blue-600;
}

.sendbox button {
  @apply absolute right-1.5 bottom-3 text-gray-600 duration-300 p-1.5 rounded-full;
}

.sendbox:valid button:enabled:hover {
  @apply text-gray-700 bg-gray-200;
}
