.form {
  @apply w-full max-w-xl flex flex-col gap-3 p-5 rounded-md shadow-lg border border-t-4 border-t-amber-500;
}

.element {
  @apply w-full flex flex-col gap-1;
}

:is(.element, .select) > label {
  @apply whitespace-nowrap flex flex-row items-center gap-1 text-gray-700;
}

:is(.element, .select) > label span {
  @apply cursor-pointer;
}

.element > input {
  @apply w-full p-2 rounded-md outline outline-1 text-gray-700 focus:outline-blue-600;
}

.select {
  @apply flex flex-row gap-1 items-center;
}

.select input[type="checkbox"] {
  @apply w-4 h-4 relative;
}

.select input[type="checkbox"]:checked::before {
  @apply absolute content-[''] inset-0 bg-blue-600 rounded-sm;
}

.select input[type="checkbox"]:checked::after {
  @apply absolute content-[''] inset-0 left-[0.35rem] top-[0.1rem] w-1 h-3 border-r-2 border-b-2 border-white rotate-[35deg];
}

.button {
  @apply w-full py-2 rounded-md mt-2;
}

.button:hover {
  @apply shadow-md duration-300;
}

.button[type="submit"] {
  @apply bg-green-600 text-white disabled:bg-gray-400 disabled:cursor-not-allowed;
}

.button[type="button"] {
  @apply bg-amber-600 text-white disabled:bg-gray-400 disabled:cursor-not-allowed;
}

.form:invalid .button[type="submit"] {
  @apply bg-gray-400 cursor-not-allowed;
}

.fail {
  @apply text-lg text-red-600 text-center;
}
