.gist-pre-container {
  /* code title */
  .rehype-code-title {
    background: #f3f4f6;
    padding: 0.6em 1.4em;
    border-radius: 0.3em 0.3em 0 0;
    overflow: hidden;
    border: solid 1px rgb(209 213 219);
    border-bottom: none;
    color: black;
  }
}
