.user {
  @apply md:hidden w-full border-b border-b-gray-300 text-gray-700 rounded-t-md py-3 px-4 flex flex-row justify-between items-center relative;
}

/* hamburger */
.hamburger {
  @apply flex flex-col gap-1.5;
}

.hamburger div {
  height: 0.9px;
  @apply w-6 duration-300 origin-left bg-gray-700;
}

.hamburger.active div:first-of-type {
  rotate: 18deg;
}

.hamburger.active div:last-of-type {
  rotate: -17deg;
}

/* settings */
.settings {
  @apply absolute left-0 w-full -bottom-[28.5rem] z-10 text-white duration-300 opacity-0 origin-top scale-y-95 invisible;
}

.settings.active {
  @apply visible opacity-100 scale-y-100;
}
