/* windows */
.popupwindow {
  @apply px-5 md:px-0 w-full max-w-md z-10 fixed flex flex-col items-center -top-20 left-[50%] translate-x-[-50%] duration-500 translate-y-0;
}

.popupwindow.active {
  @apply translate-y-28;
}

/* body */
.popupbody {
  @apply w-full max-w-md flex flex-row items-center gap-3 shadow-lg rounded-md px-4 py-3 bg-[#f9461c] text-white;
}

.popupbody.active {
  @apply bg-green-600;
}
