#html-playground .cm-scroller::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4rem;
}

#html-playground .cm-scroller::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 0.15rem;
}

#html-playground .cm-scroller::-webkit-scrollbar-corner {
  display: none;
}
