/* button */
.btn {
  @apply w-full flex flex-row items-center gap-2 p-2 rounded-md duration-300;
}

.btn:disabled {
  @apply cursor-not-allowed;
}

.btn:enabled:hover {
  @apply bg-slate-800;
}

/* input */
.inputelement {
  @apply flex flex-col;
}

.input {
  @apply w-full rounded-md outline-none px-2 py-1 text-gray-700;
}
