.markdown p,
.markdown .splendor-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  margin: 0.5rem 0;
  font-weight: bold;
  line-height: 1.42;
}

.markdown h1 {
  font-size: 1.5rem;
}

.markdown h2 {
  font-size: 1.3rem;
}

.markdown h3 {
  font-size: 1.1rem;
}

.markdown h4 {
  font-size: 1rem;
}

.markdown h5 {
  font-size: 0.9rem;
}

.markdown h6 {
  font-size: 0.8rem;
}

.markdown small {
  font-size: 0.7rem;
}

.markdown blockquote {
  font: normal helvetica, sans-serif;
  border-left: 5px solid #ccc;
}

.markdown img,
.markdown canvas,
.markdown iframe,
.markdown video,
.markdown svg,
.markdown select,
.markdown textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

.markdown p,
.markdown *:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
  margin: 1rem auto 1rem;
  max-width: 36rem;
  padding: 0.25rem;
}

.markdown div {
  width: 100%;
}

.markdown div img {
  width: 100%;
}

.markdown blockquote p {
  font-size: 1.5rem;
  font-style: italic;
  margin: 1rem auto 1rem;
  max-width: 48rem;
}

.markdown ul {
  list-style-type: disc;
}

.markdown li {
  margin-left: 1rem;
}

/*  === End gross hack */

.markdown p {
  color: #555;
  height: auto;
  line-height: 1.45;
}

.markdown pre,
.markdown code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.markdown pre {
  background-color: #fafafa;
  font-size: 0.8rem;
  overflow-x: auto;
  padding: 1.125em;
  border-radius: 0.5em;
}

.markdown a,
.markdown a:visited {
  color: #3498db;
}

.markdown a:hover,
.markdown a:focus,
.markdown a:active {
  color: #2980b9;
}
