.blinkcursor {
  color: rgb(243 244 246);
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.25rem solid rgb(243 244 246);

  animation: typing 10s steps(30, end) infinite, blinkcursor 1s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  10% {
    width: 100%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

@keyframes blinkcursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(243 244 246);
  }
}
