/* chat part */
.chatwindow {
  @apply flex-1 flex flex-col justify-between gap-1 overflow-hidden p-2;
}

.chatwindowframe {
  @apply w-full h-full overflow-auto px-2;
}

/* message */
.messages {
  @apply w-full flex flex-col gap-3;
}

/* form */
.form {
  @apply w-full flex flex-col items-center justify-center gap-3;
}

.input {
  max-height: 240px;
  @apply w-full outline-none resize-none pr-7;
}

.form button {
  @apply absolute bottom-9 mr-0.5 -translate-y-[-50%] text-gray-600 duration-300 p-1.5 rounded-full;
}

.form button[type="submit"] {
  @apply right-1.5;
}

.form button:disabled:hover {
  @apply cursor-not-allowed;
}

.form:invalid button[type="submit"]:hover {
  @apply cursor-not-allowed;
}

.form:valid button[type="submit"]:enabled:hover {
  @apply text-gray-700 bg-gray-200;
}

/* scroll bar */
.input::-webkit-scrollbar,
.chatwindowframe::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3rem;
}

.input::-webkit-scrollbar-thumb,
.chatwindowframe::-webkit-scrollbar-thumb {
  background-color: #d9d9db;
  border-radius: 0.2rem;
}

.input::-webkit-scrollbar-corner,
.chatwindowframe::-webkit-scrollbar-corner {
  display: none;
}
