.blog-markdown-container {
  /* code title */
  .rehype-code-title {
    margin-top: 16px;
    background: #2e3134;
    padding: 0.6em 1.4em;
    color: #fff;
    border-radius: 0.3em 0.3em 0 0;
    overflow: hidden;
  }

  /* table */
  table {
    margin: 12px 0;
    border-collapse: collapse;
  }

  table td,
  table th {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    color: #494949;
  }
}
