.blog-markdown-container {
  /* code title */
  .rehype-code-title {
    margin-top: 16px;
    background: #2e3134;
    padding: 0.6em 1.4em;
    color: #fff;
    border-radius: 0.3em 0.3em 0 0;
    overflow: hidden;
  }
}
