/* usericon */
.usericon {
  @apply relative;
}

/* button */
.usericon > button {
  @apply bg-green-600 cursor-pointer p-1 rounded-full text-white duration-300;
}

.usericon > button:hover {
  @apply md:bg-green-700;
}

.dropmenu {
  box-shadow: 0 0 5px #a5a5a5;
  @apply origin-top absolute z-10 right-0 w-48 mt-1 p-5 rounded-md flex flex-col gap-2 duration-300 delay-100 scale-95 opacity-0 invisible;
}

@media screen and (max-width: 768px) {
  .dropmenu.active {
    @apply scale-y-100 opacity-100 visible;
  }
}

@media screen and (min-width: 768px) {
  .usericon:hover .dropmenu {
    @apply scale-100 opacity-100 visible;
  }
}
