/* form */
.form {
  @apply w-full flex flex-row justify-center rounded-md shadow-md;
}

/* submit button */
.btn {
  @apply rounded-r-md w-28 font-semibold text-lg flex flex-row items-center justify-center gap-1 duration-300 text-white;
}

.form:invalid .btn:hover,
.btn:disabled:hover {
  @apply cursor-not-allowed;
}

.form:valid .submitbtn:enabled:hover {
  @apply bg-green-700;
}

/* send icon */
.btn .btntext {
  @apply translate-x-2 duration-300;
}

.btn .btnicon {
  @apply opacity-0 translate-x-[100%] duration-300;
}

.form:valid .btn:enabled:hover .btntext {
  @apply translate-x-0;
}

.form:valid .btn:enabled:hover .btnicon {
  @apply opacity-100 translate-x-0;
}
