.card {
  @apply p-3 rounded-md border border-gray-300 flex flex-col gap-1;
}

.flex-row-1 {
  @apply flex flex-row items-center gap-1 text-gray-700;
}

/* three dots */
.dots {
  @apply relative flex flex-col items-center justify-center;
}

.dots-container {
  box-shadow: 0 0 5px gray;
  @apply absolute right-2 top-5 flex flex-col text-sm opacity-0 invisible duration-300 rounded-sm;
}

.dots-container > button {
  @apply px-3 py-1 text-right;
}

.dots-container > button:first-of-type {
  @apply rounded-t-sm;
}

.dots-container > button:last-of-type {
  @apply rounded-b-sm;
}

.dots-container > button:hover {
  @apply bg-gray-200;
}

.dots:hover .dots-container {
  @apply opacity-100 visible;
}
