.user {
  @apply hidden w-1/4 bg-slate-700 text-white rounded-l-md p-4 md:flex flex-col justify-between;
}

.btn {
  @apply w-full flex flex-row items-center gap-1 p-2 rounded-md duration-300;
}

.btn:disabled {
  @apply cursor-not-allowed;
}

.btn:enabled:hover {
  @apply bg-slate-600;
}
